@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;700;900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    font-family: 'Noto+Sans+KR', sans-serif;
    scroll-behavior: smooth;
}

html,
body {
    position: relative;
    height: 140vh;
}

body {
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    font-size: 14px;
    color: #000;
    background: rgb(250, 246, 237);
}

section {
    padding: 100px;
    min-height: 100vh;
}

p {
    font-size: 1.1em;
    margin: 20px 0;
    font-weight: 350;
}

.sidebar {
    right: -100%;
    position: fixed;
    background-color: rgb(56, 61, 94);
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    width: 56%;
    height: 100%;
    padding: 40px;
    transition: 1s;
    z-index: 90;
}

.sidbar ul {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.sidebar ul li {
    list-style: none;
}

.sidebar ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 2em;
    margin: 10px 0;
    font-weight: 400;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.sidebar ul li a:hover {
    color: #6495d6;
}

.sidebar.active {
    right: 0;
}

.toggle {
    position: fixed;
    right: 40px;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    z-index: 100;
    transition: 0.5s;
}

.toggle::before {
    content: '';
    position: absolute;
    width: 30px;
    height: 3px;
    background: rgb(161, 160, 160);
    transform: translateY(-6px);
    transition: 0.5s;
}

.toggle::after {
    content: '';
    position: absolute;
    width: 30px;
    height: 3px;
    background: rgb(161, 160, 160);
    transform: translateY(6px);
    transition: 0.5s;
}

.toggle.active::before {
    transform: translateY(0px) rotate(45deg);
}

.toggle.active::after {
    transform: translateY(0px) rotate(-45deg);
}

.btn {
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    text-decoration: none;
    background: #304258;
    color: #fff;
    font-weight: 500;
    border-radius: 4px;
    letter-spacing: 1px;
}

header {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    padding: 40px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.5s;
}

.sec {
    position: relative;
    left: 0;
    width: 100%;
    min-height: 100vh;
    padding: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 1s;
}

.sec .content_ {
    max-width: 700px;
    margin-left: 40px;
}

.sec .content_ h2 {
    font-weight: 500;
    letter-spacing: 1px;
    color: #777;
    line-height: 2.5em;
}

.sec .content_ h2 span {
    font-weight: 700;
    color: rgb(52, 60, 99);
    font-size: 3em;
}

.sec .content_ p {
    color: #777;
    font-size: 1.2em;
    font-weight: normal;
    margin-bottom: 20px;
}

.sec .content_ .btn {
    background: rgb(52, 60, 99);
    color: #fff
}

footer {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 20px 100px;
    opacity: 0.75;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.sci {
    position: relative;
    display: flex;
    align-items: center;
}

.sci li {
    list-style: none;
}

.sci li a {
    position: relative;
    margin-right: 20px;
    display: inline-block;
    transform: scale(0.75);
    opacity: 0.75;
}

.sci li :hover {
    opacity: 1;
}

.copyrightText {
    font-weight: 500;
    color: #777;
    letter-spacing: 1px;
}

.sec .imgBx_ {
    position: relative;
    min-width: 500px;
    height: 500px;
    border-radius: 50%;
    overflow: hidden;
}

.title {
    width: 100%;
    text-align: center;
}

.title h2 {
    position: relative;
    color: #5794e4;
    font-size: 1.8em;
    font-weight: 700;
    letter-spacing: 1px;
}

.title p {
    max-width: 700px;
    font-size: 20px;
    font-weight: 350;
    display: inline-block;
}

.title h2::before {
    content: '';
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -10px;
    width: 60px;
    height: 4px;
    background: #000;
}

.thtle.white h2,
.title.white p {
    color: #fff;
}

.title.white h2::before {
    background: #ffff;
}

.about {
    background: rgb(53, 91, 139);
}

.about .content {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}

.about .content .textBx {
    /* min-width: 49%; */
    width: 49%;
}

.about .content .textBx p {
    color: #fff;
    font-size: 17px;
    font-weight: 300;
}

.about .content .imgBx {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    /* margin-top: 3%; */
    margin-left: 4%;
}

.about .content .imgBx img {
    max-width: 100%;
}

@media(max-width: 991px) {
    .about .content {
        flex-direction: column;
    }
    .about .content .textBx {
        /* min-width: 49%; */
        width: 100%;
    }
    .about .content .imgBx {
        display: flex;
        text-align: center;
        align-items: center;
        justify-content: center;
    }
    .about .content .imgBx img {
        max-width: 70%;
    }
}

.services .content {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 5vh;
}

.services .content .servicesBx {
    padding: 40px 20px;
    max-width: 340px;
    margin: 20px;
    transition: 0.5s;
    text-align: center;
    background: #ccdcf1;
}

.services .content .servicesBx:hover {
    background: #8cafdd;
}

.services .content .servicesBx img {
    max-width: 80px;
    transition: 0.5s;
}

.services .content .servicesBx:hover img {
    filter: invert(1);
}

.services .content .servicesBx h2 {
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 20px;
    font-weight: 600;
    transition: 0.5s;
}

.services .content .servicesBx:hover h2 {
    color: #fff;
}

.services .content .servicesBx p {
    margin: 0;
    transition: 0.5s;
}

.services .content .servicesBx:hover p {
    color: #fff;
}

.work .content {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 8vh;
    margin-bottom: 30vh;
}

.work .content .workBx {
    position: relative;
    width: 265px;
    height: 265px;
    margin: 10px;
    transition: 0.5s;
    text-align: center;
}

.work .content .workBx .imgBx,
.work .content .workBx .textBx {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.work .content .workBx .imgBx img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.work .content .workBx .textBx {
    opacity: 0;
    transition: 0.5s;
}

.work .content .workBx .wolk:hover .textBx {
    opacity: 1 !important;
}

.work .content .workBx .textBx h3 {
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 400;
    font-size: 1em;
}

.ju {
    font-size: 30px;
    font-weight: 600;
}

.swiper-container {
    width: 100%;
    height: 30vh;
    margin-top: 10vh;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    /* background-image: url(./slider1.jpg); */
    background-size: 100%;
    overflow: hidden;
}

.img1 {
    background-image: url(./slider1.jpg);
    background-size: 100%;
}

.img2 {
    background-image: url('./slider2.JPG');
    background-size: 100%;
}

.img3 {
    background-image: url(./slider3.jpg);
    background-size: 100%;
}

.img4 {
    background-image: url(./slider4.jpg);
    background-size: 100%;
}

.img5 {
    background-image: url(./slider5.jpg);
    background-size: 100%;
}

.img6 {
    background-image: url(./slider6.jpg);
    background-size: 100%;
}

.swiper-container-vertical>.swiper-pagination-bullets {
    top: unset !important;
    bottom: 10px;
    left: 0;
    width: 100%;
}

.swiper-container-vertical>.swiper-pagination-bullets .swiper-pagination-bullet {
    display: inline-block !important;
    margin: 6px 2px !important;
}

.slider {
    position: relative;
    margin: auto;
    bottom: 0;
    width: 150vh;
    padding: 0%;
    justify-content: center;
    align-items: center;
}

@media(max-width: 991px) {
    .sec {
        padding: 40px;
        flex-direction: column;
        justify-content: center;
    }
    header,
    footer {
        padding: 20px 40px;
    }
    .sec .imgBx_ {
        width: 300px;
        min-width: 300px;
        height: 300px;
        margin-top: 30px;
    }
    .sec .content_ {
        margin-bottom: 100px;
        margin-left: 0;
        min-width: 100%;
    }
    .sec .content_ .btn {
        margin-right: 13px;
        ;
    }
    footer {
        flex-direction: row;
        align-items: flex-start;
        margin-bottom: 17px;
    }
    .sec .content_ h2 span {
        font-size: 2em;
    }
    .sec .imgBx_ .cover {
        width: 300px;
        min-width: 300px;
        height: 300px;
    }
}

@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700,800,900');
*,
*::before,
*::after {
    box-sizing: border-box;
}

.content {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 15px;
    line-height: 1.7;
    color: #1f2029;
    /* background-color: #fff; */
    overflow: hidden;
    /* background-image: url('https://assets.codepen.io/1462889/back-page.svg'); */
    background-position: center;
    background-repeat: no-repeat;
    background-size: 101%;
}

.content .section full-height .modal .modal-wrap p {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.7;
    color: #1f2029;
}

.content .section full-height .modal2 .modal-wrap2 p {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.7;
    color: #1f2029;
}

.content .section full-height .modal3 .modal-wrap3 p {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.7;
    color: #1f2029;
}

.content .section full-height .modal4 .modal-wrap4 p {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.7;
    color: #1f2029;
}

.content .section full-height .modal5 .modal-wrap5 p {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.7;
    color: #1f2029;
}

.content .section full-height .modal6 .modal-wrap6 p {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.7;
    color: #1f2029;
}

.content .section full-height .modal7 .modal-wrap7 p {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.7;
    color: #1f2029;
}

.wolk {
    position: relative;
    width: 100%;
    display: block;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-pack: center;
    justify-content: center;
}

.full-height {
    min-height: 100vh;
}

[type="checkbox"]:checked,
[type="checkbox"]:not(:checked) {
    position: absolute;
    left: -9999px;
}

.modal-btn:checked+label,
.modal-btn:not(:checked)+label {
    position: relative;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 15px;
    line-height: 2;
    width: 265px;
    min-width: 265px;
    height: 265px;
    transition: all 200ms linear;
    border-radius: 4px;
    letter-spacing: 1px;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    -ms-justify-content: center;
    justify-content: center;
    -ms-flex-pack: center;
    text-align: center;
    -ms-flex-item-align: center;
    align-self: center;
    border: none;
    cursor: pointer;
    background-image: url(./img1.jpg);
    background-size: 100%;
    /* background-color: #102770;
    color: #ffeba7; */
    box-shadow: 0 12px 35px 0 rgba(16, 39, 112, .25);
}

.modal-btn2:checked+label,
.modal-btn2:not(:checked)+label {
    position: relative;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 15px;
    line-height: 2;
    width: 265px;
    min-width: 265px;
    height: 265px;
    transition: all 200ms linear;
    border-radius: 4px;
    letter-spacing: 1px;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    -ms-justify-content: center;
    justify-content: center;
    -ms-flex-pack: center;
    text-align: center;
    -ms-flex-item-align: center;
    align-self: center;
    border: none;
    cursor: pointer;
    background-image: url(./img2.jpg);
    background-size: 100%;
    /* background-color: #102770;
    color: #ffeba7; */
    box-shadow: 0 12px 35px 0 rgba(16, 39, 112, .25);
}

.modal-btn3:checked+label,
.modal-btn3:not(:checked)+label {
    position: relative;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 15px;
    line-height: 2;
    width: 265px;
    min-width: 265px;
    height: 265px;
    transition: all 200ms linear;
    border-radius: 4px;
    letter-spacing: 1px;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    -ms-justify-content: center;
    justify-content: center;
    -ms-flex-pack: center;
    text-align: center;
    -ms-flex-item-align: center;
    align-self: center;
    border: none;
    cursor: pointer;
    background-image: url(./img3.jpg);
    background-size: 100%;
    /* background-color: #102770;
    color: #ffeba7; */
    box-shadow: 0 12px 35px 0 rgba(16, 39, 112, .25);
}

.modal-btn4:checked+label,
.modal-btn4:not(:checked)+label {
    position: relative;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 15px;
    line-height: 2;
    width: 265px;
    min-width: 265px;
    height: 265px;
    transition: all 200ms linear;
    border-radius: 4px;
    letter-spacing: 1px;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    -ms-justify-content: center;
    justify-content: center;
    -ms-flex-pack: center;
    text-align: center;
    -ms-flex-item-align: center;
    align-self: center;
    border: none;
    cursor: pointer;
    background-image: url(./img4.jpg);
    background-size: 100%;
    /* background-color: #102770;
    color: #ffeba7; */
    box-shadow: 0 12px 35px 0 rgba(16, 39, 112, .25);
}

.modal-btn5:checked+label,
.modal-btn5:not(:checked)+label {
    position: relative;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 15px;
    line-height: 2;
    width: 265px;
    min-width: 265px;
    height: 265px;
    transition: all 200ms linear;
    border-radius: 4px;
    letter-spacing: 1px;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    -ms-justify-content: center;
    justify-content: center;
    -ms-flex-pack: center;
    text-align: center;
    -ms-flex-item-align: center;
    align-self: center;
    border: none;
    cursor: pointer;
    background-image: url(./img5.jpg);
    background-size: 100%;
    /* background-color: #102770;
    color: #ffeba7; */
    box-shadow: 0 12px 35px 0 rgba(16, 39, 112, .25);
}

.modal-btn6:checked+label,
.modal-btn6:not(:checked)+label {
    position: relative;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 15px;
    line-height: 2;
    width: 265px;
    min-width: 265px;
    height: 265px;
    transition: all 200ms linear;
    border-radius: 4px;
    letter-spacing: 1px;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    -ms-justify-content: center;
    justify-content: center;
    -ms-flex-pack: center;
    text-align: center;
    -ms-flex-item-align: center;
    align-self: center;
    border: none;
    cursor: pointer;
    background-image: url(./img6.jpg);
    background-size: 100%;
    /* background-color: #102770;
    color: #ffeba7; */
    box-shadow: 0 12px 35px 0 rgba(16, 39, 112, .25);
}

.modal-btn7:checked+label,
.modal-btn7:not(:checked)+label {
    position: relative;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 15px;
    line-height: 2;
    width: 265px;
    min-width: 265px;
    height: 265px;
    transition: all 200ms linear;
    border-radius: 4px;
    letter-spacing: 1px;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    -ms-justify-content: center;
    justify-content: center;
    -ms-flex-pack: center;
    text-align: center;
    -ms-flex-item-align: center;
    align-self: center;
    border: none;
    cursor: pointer;
    background-image: url(./img7.jpg);
    background-size: 100%;
    /* background-color: #102770;
    color: #ffeba7; */
    box-shadow: 0 12px 35px 0 rgba(16, 39, 112, .25);
}

.modal-btn:not(:checked)+label:hover {
    opacity: 0.7;
}

.modal-btn2:not(:checked)+label:hover {
    opacity: 0.7;
}

.modal-btn3:not(:checked)+label:hover {
    opacity: 0.7;
}

.modal-btn4:not(:checked)+label:hover {
    opacity: 0.7;
}

.modal-btn5:not(:checked)+label:hover {
    opacity: 0.7;
}

.modal-btn6:not(:checked)+label:hover {
    opacity: 0.7;
}

.modal-btn7:not(:checked)+label:hover {
    opacity: 0.7;
}

.modal-btn:checked+label .uil,
.modal-btn:not(:checked)+label .uil {
    margin-left: 10px;
    font-size: 18px;
}

.modal-btn2:checked+label .uil,
.modal-btn2:not(:checked)+label .uil {
    margin-left: 10px;
    font-size: 18px;
}

.modal-btn3:checked+label .uil,
.modal-btn3:not(:checked)+label .uil {
    margin-left: 10px;
    font-size: 18px;
}

.modal-btn4:checked+label .uil,
.modal-btn4:not(:checked)+label .uil {
    margin-left: 10px;
    font-size: 18px;
}

.modal-btn5:checked+label .uil,
.modal-btn5:not(:checked)+label .uil {
    margin-left: 10px;
    font-size: 18px;
}

.modal-btn6:checked+label .uil,
.modal-btn6:not(:checked)+label .uil {
    margin-left: 10px;
    font-size: 18px;
}

.modal-btn7:checked+label .uil,
.modal-btn7:not(:checked)+label .uil {
    margin-left: 10px;
    font-size: 18px;
}

.modal-btn:checked+label:after,
.modal-btn:not(:checked)+label:after {
    position: fixed;
    top: 30px;
    right: 30px;
    z-index: 110;
    width: 40px;
    border-radius: 3px;
    height: 30px;
    text-align: center;
    line-height: 33px;
    font-size: 25px;
    font-weight: 800;
    background-color: #ffeba7;
    color: #233981;
    font-family: 'unicons';
    /* content: '\eac6'; */
    content: "×";
    box-shadow: 0 12px 25px 0 rgba(16, 39, 112, .25);
    transition: all 200ms linear;
    opacity: 0;
    pointer-events: none;
    transform: translateY(20px);
}

.modal-btn2:checked+label:after,
.modal-btn2:not(:checked)+label:after {
    position: fixed;
    top: 30px;
    right: 30px;
    z-index: 110;
    width: 40px;
    border-radius: 3px;
    height: 30px;
    text-align: center;
    line-height: 33px;
    font-size: 25px;
    font-weight: 800;
    background-color: #ffeba7;
    color: #102770;
    font-family: 'unicons';
    /* content: '\eac6'; */
    content: "×";
    box-shadow: 0 12px 25px 0 rgba(16, 39, 112, .25);
    transition: all 200ms linear;
    opacity: 0;
    pointer-events: none;
    transform: translateY(20px);
}

.modal-btn3:checked+label:after,
.modal-btn3:not(:checked)+label:after {
    position: fixed;
    top: 30px;
    right: 30px;
    z-index: 110;
    width: 40px;
    border-radius: 3px;
    height: 30px;
    text-align: center;
    line-height: 33px;
    font-size: 25px;
    font-weight: 800;
    background-color: #ffeba7;
    color: #102770;
    font-family: 'unicons';
    /* content: '\eac6'; */
    content: "×";
    box-shadow: 0 12px 25px 0 rgba(16, 39, 112, .25);
    transition: all 200ms linear;
    opacity: 0;
    pointer-events: none;
    transform: translateY(20px);
}

.modal-btn4:checked+label:after,
.modal-btn4:not(:checked)+label:after {
    position: fixed;
    top: 30px;
    right: 30px;
    z-index: 110;
    width: 40px;
    border-radius: 3px;
    height: 30px;
    text-align: center;
    line-height: 33px;
    font-size: 25px;
    font-weight: 800;
    background-color: #ffeba7;
    color: #102770;
    font-family: 'unicons';
    /* content: '\eac6'; */
    content: "×";
    box-shadow: 0 12px 25px 0 rgba(16, 39, 112, .25);
    transition: all 200ms linear;
    opacity: 0;
    pointer-events: none;
    transform: translateY(20px);
}

.modal-btn5:checked+label:after,
.modal-btn5:not(:checked)+label:after {
    position: fixed;
    top: 30px;
    right: 30px;
    z-index: 110;
    width: 40px;
    border-radius: 3px;
    height: 30px;
    text-align: center;
    line-height: 33px;
    font-size: 25px;
    font-weight: 800;
    background-color: #ffeba7;
    color: #102770;
    font-family: 'unicons';
    /* content: '\eac6'; */
    content: "×";
    box-shadow: 0 12px 25px 0 rgba(16, 39, 112, .25);
    transition: all 200ms linear;
    opacity: 0;
    pointer-events: none;
    transform: translateY(20px);
}

.modal-btn6:checked+label:after,
.modal-btn6:not(:checked)+label:after {
    position: fixed;
    top: 30px;
    right: 30px;
    z-index: 110;
    width: 40px;
    border-radius: 3px;
    height: 30px;
    text-align: center;
    line-height: 33px;
    font-size: 25px;
    font-weight: 800;
    background-color: #ffeba7;
    color: #102770;
    font-family: 'unicons';
    /* content: '\eac6'; */
    content: "×";
    box-shadow: 0 12px 25px 0 rgba(16, 39, 112, .25);
    transition: all 200ms linear;
    opacity: 0;
    pointer-events: none;
    transform: translateY(20px);
}

.modal-btn7:checked+label:after,
.modal-btn7:not(:checked)+label:after {
    position: fixed;
    top: 30px;
    right: 30px;
    z-index: 110;
    width: 40px;
    border-radius: 3px;
    height: 30px;
    text-align: center;
    line-height: 33px;
    font-size: 25px;
    font-weight: 800;
    background-color: #ffeba7;
    color: #102770;
    font-family: 'unicons';
    /* content: '\eac6'; */
    content: "×";
    box-shadow: 0 12px 25px 0 rgba(16, 39, 112, .25);
    transition: all 200ms linear;
    opacity: 0;
    pointer-events: none;
    transform: translateY(20px);
}

.modal-btn:checked+label:hover:after,
.modal-btn:not(:checked)+label:hover:after {
    background-color: #233981;
    ;
    color: #ffeba7;
}

.modal-btn2:checked+label:hover:after,
.modal-btn2:not(:checked)+label:hover:after {
    background-color: #102770;
    color: #ffeba7;
}

.modal-btn3:checked+label:hover:after,
.modal-btn3:not(:checked)+label:hover:after {
    background-color: #102770;
    color: #ffeba7;
}

.modal-btn4:checked+label:hover:after,
.modal-btn4:not(:checked)+label:hover:after {
    background-color: #102770;
    color: #ffeba7;
}

.modal-btn5:checked+label:hover:after,
.modal-btn5:not(:checked)+label:hover:after {
    background-color: #102770;
    color: #ffeba7;
}

.modal-btn6:checked+label:hover:after,
.modal-btn6:not(:checked)+label:hover:after {
    background-color: #102770;
    color: #ffeba7;
}

.modal-btn7:checked+label:hover:after,
.modal-btn7:not(:checked)+label:hover:after {
    background-color: #102770;
    color: #ffeba7;
}

.modal-btn:checked+label:after {
    transition: opacity 300ms 300ms ease, transform 300ms 300ms ease, background-color 250ms linear, color 250ms linear;
    opacity: 1;
    pointer-events: auto;
    transform: translateY(0);
}

.modal-btn2:checked+label:after {
    transition: opacity 300ms 300ms ease, transform 300ms 300ms ease, background-color 250ms linear, color 250ms linear;
    opacity: 1;
    pointer-events: auto;
    transform: translateY(0);
}

.modal-btn3:checked+label:after {
    transition: opacity 300ms 300ms ease, transform 300ms 300ms ease, background-color 250ms linear, color 250ms linear;
    opacity: 1;
    pointer-events: auto;
    transform: translateY(0);
}

.modal-btn4:checked+label:after {
    transition: opacity 300ms 300ms ease, transform 300ms 300ms ease, background-color 250ms linear, color 250ms linear;
    opacity: 1;
    pointer-events: auto;
    transform: translateY(0);
}

.modal-btn5:checked+label:after {
    transition: opacity 300ms 300ms ease, transform 300ms 300ms ease, background-color 250ms linear, color 250ms linear;
    opacity: 1;
    pointer-events: auto;
    transform: translateY(0);
}

.modal-btn6:checked+label:after {
    transition: opacity 300ms 300ms ease, transform 300ms 300ms ease, background-color 250ms linear, color 250ms linear;
    opacity: 1;
    pointer-events: auto;
    transform: translateY(0);
}

.modal-btn7:checked+label:after {
    transition: opacity 300ms 300ms ease, transform 300ms 300ms ease, background-color 250ms linear, color 250ms linear;
    opacity: 1;
    pointer-events: auto;
    transform: translateY(0);
}

.modal {
    position: fixed;
    display: block;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-pack: center;
    justify-content: center;
    margin: 0 auto;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
    overflow-x: hidden;
    background-color: rgba(31, 32, 41, .75);
    pointer-events: none;
    opacity: 0;
    transition: opacity 250ms 700ms ease;
}

.modal2 {
    position: fixed;
    display: block;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-pack: center;
    justify-content: center;
    margin: 0 auto;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
    overflow-x: hidden;
    background-color: rgba(31, 32, 41, .75);
    pointer-events: none;
    opacity: 0;
    transition: opacity 250ms 700ms ease;
}

.modal3 {
    position: fixed;
    display: block;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-pack: center;
    justify-content: center;
    margin: 0 auto;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
    overflow-x: hidden;
    background-color: rgba(31, 32, 41, .75);
    pointer-events: none;
    opacity: 0;
    transition: opacity 250ms 700ms ease;
}

.modal4 {
    position: fixed;
    display: block;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-pack: center;
    justify-content: center;
    margin: 0 auto;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
    overflow-x: hidden;
    background-color: rgba(31, 32, 41, .75);
    pointer-events: none;
    opacity: 0;
    transition: opacity 250ms 700ms ease;
}

.modal5 {
    position: fixed;
    display: block;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-pack: center;
    justify-content: center;
    margin: 0 auto;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
    overflow-x: hidden;
    background-color: rgba(31, 32, 41, .75);
    pointer-events: none;
    opacity: 0;
    transition: opacity 250ms 700ms ease;
}

.modal6 {
    position: fixed;
    display: block;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-pack: center;
    justify-content: center;
    margin: 0 auto;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
    overflow-x: hidden;
    background-color: rgba(31, 32, 41, .75);
    pointer-events: none;
    opacity: 0;
    transition: opacity 250ms 700ms ease;
}

.modal7 {
    position: fixed;
    display: block;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-pack: center;
    justify-content: center;
    margin: 0 auto;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
    overflow-x: hidden;
    background-color: rgba(31, 32, 41, .75);
    pointer-events: none;
    opacity: 0;
    transition: opacity 250ms 700ms ease;
}

.modal-btn:checked~.modal {
    pointer-events: auto;
    opacity: 1;
    transition: all 300ms ease-in-out;
}

.modal-btn2:checked~.modal2 {
    pointer-events: auto;
    opacity: 1;
    transition: all 300ms ease-in-out;
}

.modal-btn3:checked~.modal3 {
    pointer-events: auto;
    opacity: 1;
    transition: all 300ms ease-in-out;
}

.modal-btn4:checked~.modal4 {
    pointer-events: auto;
    opacity: 1;
    transition: all 300ms ease-in-out;
}

.modal-btn5:checked~.modal5 {
    pointer-events: auto;
    opacity: 1;
    transition: all 300ms ease-in-out;
}

.modal-btn6:checked~.modal6 {
    pointer-events: auto;
    opacity: 1;
    transition: all 300ms ease-in-out;
}

.modal-btn7:checked~.modal7 {
    pointer-events: auto;
    opacity: 1;
    transition: all 300ms ease-in-out;
}

.modal-wrap {
    position: relative;
    display: block;
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 4px;
    overflow: hidden;
    padding-bottom: 20px;
    background-color: #fff;
    -ms-flex-item-align: center;
    align-self: center;
    box-shadow: 0 12px 25px 0 rgba(199, 175, 189, .25);
    opacity: 0;
    transform: scale(0.6);
    transition: opacity 250ms 250ms ease, transform 300ms 250ms ease;
}

.modal-wrap2 {
    position: relative;
    display: block;
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 4px;
    overflow: hidden;
    padding-bottom: 20px;
    background-color: #fff;
    -ms-flex-item-align: center;
    align-self: center;
    box-shadow: 0 12px 25px 0 rgba(199, 175, 189, .25);
    opacity: 0;
    transform: scale(0.6);
    transition: opacity 250ms 250ms ease, transform 300ms 250ms ease;
}

.modal-wrap3 {
    position: relative;
    display: block;
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 4px;
    overflow: hidden;
    padding-bottom: 20px;
    background-color: #fff;
    -ms-flex-item-align: center;
    align-self: center;
    box-shadow: 0 12px 25px 0 rgba(199, 175, 189, .25);
    opacity: 0;
    transform: scale(0.6);
    transition: opacity 250ms 250ms ease, transform 300ms 250ms ease;
}

.modal-wrap4 {
    position: relative;
    display: block;
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 4px;
    overflow: hidden;
    padding-bottom: 20px;
    background-color: #fff;
    -ms-flex-item-align: center;
    align-self: center;
    box-shadow: 0 12px 25px 0 rgba(199, 175, 189, .25);
    opacity: 0;
    transform: scale(0.6);
    transition: opacity 250ms 250ms ease, transform 300ms 250ms ease;
}

.modal-wrap5 {
    position: relative;
    display: block;
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 4px;
    overflow: hidden;
    padding-bottom: 20px;
    background-color: #fff;
    -ms-flex-item-align: center;
    align-self: center;
    box-shadow: 0 12px 25px 0 rgba(199, 175, 189, .25);
    opacity: 0;
    transform: scale(0.6);
    transition: opacity 250ms 250ms ease, transform 300ms 250ms ease;
}

.modal-wrap6 {
    position: relative;
    display: block;
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 4px;
    overflow: hidden;
    padding-bottom: 20px;
    background-color: #fff;
    -ms-flex-item-align: center;
    align-self: center;
    box-shadow: 0 12px 25px 0 rgba(199, 175, 189, .25);
    opacity: 0;
    transform: scale(0.6);
    transition: opacity 250ms 250ms ease, transform 300ms 250ms ease;
}

.modal-wrap7 {
    position: relative;
    display: block;
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 4px;
    overflow: hidden;
    padding-bottom: 20px;
    background-color: #fff;
    -ms-flex-item-align: center;
    align-self: center;
    box-shadow: 0 12px 25px 0 rgba(199, 175, 189, .25);
    opacity: 0;
    transform: scale(0.6);
    transition: opacity 250ms 250ms ease, transform 300ms 250ms ease;
}

.modal-wrap img {
    display: block;
    width: 100%;
    height: auto;
}

.modal-wrap2 img {
    display: block;
    width: 100%;
    height: auto;
}

.modal-wrap3 img {
    display: block;
    width: 100%;
    height: auto;
}

.modal-wrap4 img {
    display: block;
    width: 100%;
    height: auto;
}

.modal-wrap5 img {
    display: block;
    width: 100%;
    height: auto;
}

.modal-wrap6 img {
    display: block;
    width: 100%;
    height: auto;
}

.modal-wrap7 img {
    display: block;
    width: 100%;
    height: auto;
}

.modal-wrap p {
    padding: 20px 30px 0 30px;
}

.modal-wrap2 p {
    padding: 20px 30px 0 30px;
}

.modal-wrap3 p {
    padding: 20px 30px 0 30px;
}

.modal-wrap4 p {
    padding: 20px 30px 0 30px;
}

.modal-wrap5 p {
    padding: 20px 30px 0 30px;
}

.modal-wrap6 p {
    padding: 20px 30px 0 30px;
}

.modal-wrap7 p {
    padding: 20px 30px 0 30px;
}

.modal-btn:checked~.modal .modal-wrap {
    opacity: 1;
    transform: scale(1);
    transition: opacity 250ms 500ms ease, transform 350ms 500ms ease;
}

.modal-btn2:checked~.modal2 .modal-wrap2 {
    opacity: 1;
    transform: scale(1);
    transition: opacity 250ms 500ms ease, transform 350ms 500ms ease;
}

.modal-btn3:checked~.modal3 .modal-wrap3 {
    opacity: 1;
    transform: scale(1);
    transition: opacity 250ms 500ms ease, transform 350ms 500ms ease;
}

.modal-btn4:checked~.modal4 .modal-wrap4 {
    opacity: 1;
    transform: scale(1);
    transition: opacity 250ms 500ms ease, transform 350ms 500ms ease;
}

.modal-btn5:checked~.modal5 .modal-wrap5 {
    opacity: 1;
    transform: scale(1);
    transition: opacity 250ms 500ms ease, transform 350ms 500ms ease;
}

.modal-btn6:checked~.modal6 .modal-wrap6 {
    opacity: 1;
    transform: scale(1);
    transition: opacity 250ms 500ms ease, transform 350ms 500ms ease;
}

.modal-btn7:checked~.modal7 .modal-wrap7 {
    opacity: 1;
    transform: scale(1);
    transition: opacity 250ms 500ms ease, transform 350ms 500ms ease;
}


/* .logo {
    position: absolute;
    top: 25px;
    left: 25px;
    display: block;
    z-index: 1000;
    transition: all 250ms linear;
}

.logo img {
    height: 26px;
    width: auto;
    display: block;
    filter: brightness(10%);
    transition: filter 250ms 700ms linear;
} */


/* .modal-btn:checked~.logo img {
    filter: brightness(100%);
    transition: all 250ms linear;
} */

@media screen and (max-width: 500px) {
    .modal-wrap {
        width: calc(100% - 40px);
        padding-bottom: 15px;
    }
    .modal-wrap2 {
        width: calc(100% - 40px);
        padding-bottom: 15px;
    }
    .modal-wrap3 {
        width: calc(100% - 40px);
        padding-bottom: 15px;
    }
    .modal-wrap4 {
        width: calc(100% - 40px);
        padding-bottom: 15px;
    }
    .modal-wrap5 {
        width: calc(100% - 40px);
        padding-bottom: 15px;
    }
    .modal-wrap6 {
        width: calc(100% - 40px);
        padding-bottom: 15px;
    }
    .modal-wrap7 {
        width: calc(100% - 40px);
        padding-bottom: 15px;
    }
    .modal-wrap p {
        padding: 15px 20px 0 20px;
    }
    .modal-wrap2 p {
        padding: 15px 20px 0 20px;
    }
    .modal-wrap3 p {
        padding: 15px 20px 0 20px;
    }
    .modal-wrap4 p {
        padding: 15px 20px 0 20px;
    }
    .modal-wrap5 p {
        padding: 15px 20px 0 20px;
    }
    .modal-wrap6 p {
        padding: 15px 20px 0 20px;
    }
    .modal-wrap7 p {
        padding: 15px 20px 0 20px;
    }
}